@{
    ViewBag.Title = "Forside";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-sm-4">
        <p>Bla bla her</p>
    </div>
    <div class="col-sm-8">
        <p>Bla bla der</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-2">
        <p>Mere bla</p>
    </div>
</div>